In [0]:
#[2-1 문제 1] 점수의 평균
(80+75+55)/3

70

In [0]:
#[2-1 문제2] 나눗셈의 몫
17 / 3

5

In [0]:
#[2-1 문제3] 나눗셈의 나머지
17 % 3

2

In [0]:
#[2-1 문제4_version 1] 자연수의 홀짝
def odd_even_number_distinction(num):
  if (num % 2) == 0:
    print('짝수')
  elif (num % 2) == 1:
    print ('홀수')
  else:
    print ('자연수가 아닙니다. 다시 입력하세요')
    
odd_even_number_distinction(2)
odd_even_number_distinction(3.2)

짝수
자연수가 아닙니다. 다시 입력하세요

In [0]:
#[문제4 _version 2] 자연수의 홀짝
def num_distinction():
  #짝수와 홀수를 판단하는 함수입니다.
  num = input("자연수를 입력하세요: ")
  if (num % 2) == 0:
    print('짝수')
  elif (num % 2) == 1:
    print ('홀수')
  else:
    input('자연수가 아닙니다. 다시 입력하세요: ')
    
##input으로 해보아도 '자연수를 입력하세요'가 뜨지 않습니다ㅠㅠ

In [0]:
#[2-2 문제1] 문자열 출력1
print ('"점프 투 파이썬" 문제를 풀어보자')

"점프 투 파이썬" 문제를 풀어보자

In [0]:
#[2-2 문제2]
print ("""Life is too short
You need Python""")

Life is too short
You need Python

In [0]:
#[2-2 문제3]
print(" "*24 + "PYTHON")

                        PYTHON

In [0]:
#[2-2 문제4]
a = "881120-1068234"
birthday = "19"+ a[0:2] + a[2:4] + a[4:6]
c= a[7:]

print birthday
print c

19881120
1068234

In [0]:
#[2-2 문제5]
pin = "881120-1068234"
pin[7]

'1'

In [0]:
#[2-2 문제6]
a = "1980M1120"
a[4] + a[:4] + a[5:]

'M19801120'

In [0]:
#[2-2 문제7]
a = "LIfe is too short. You need Python"
a.find('s',7)

12

In [0]:
#[2-2 문제8]
a = "a:b:c:d"
a.replace(":", "#")

In [0]:
#[2-2 문제9]
a = "a:b:c:d"
b = a.split(':')
c="#"
c.join(b)

'a#b#c#d'

In [0]:
#[2-3 문제1]
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']
a[4] + " " + a[2]

'you too'

In [0]:
#[2-3 문제2]
a = ['Life', 'is', 'too', 'short']
b = " "
b.join(a)

'Life is too short'

In [0]:
#[2-3 문제3]
a = [1, 2, 3]
len(a)

3

In [0]:
#[2-3 문제4]
a = [1, 2, 3]
a.append([4,5]) # 리스트 마지막에 새로운 리스트로 '[4,5]' 추가
print (a)
b = [1, 2, 3]   # 리스트 마지막에 각각 리스트 요소로서 '4', '5' 추가
b.extend([4,5])
print (b)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [0]:
#[2-3 문제5]
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [0]:
#[2-3 문제6]
a = [1,2,3,4,5]
a.remove(2)
a.remove(4)
print(a)

[1, 3, 5]

In [0]:
#[2-4 문제1]
t1=(3,)

In [0]:
#[2-4 문제2]
>>> a = (1, 2, 3)
>>> a[1] = 4
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment
# 위에 쓰인 바와 같이 한 번 정해진 튜플은 대체될 수 없다.

SyntaxError: ignored

In [0]:
#[2-4 문제3]
t1 = (1,2,3)
t2 = (4,)
t1 + t2

(1, 2, 3, 4)

In [0]:
#[2-5 문제1]
dic = {'name':'홍길동', 'birth':'1128', 'age':'30'}

In [0]:
#[2-5 문제2]
# 3번 / 딕셔너리 a 의 key 값에는 변형이 가능한 리스트가 올 수 없다.

In [0]:
#[2-5 문제3]
a = {'A':90, 'B':80, 'C':70}
print(a['B'])
del a ['B']
print(a)

80
{'A': 90, 'C': 70}

In [0]:
#[2-5 문제4]
a = {'A':90, 'B':80}
a['C'] = 70
print(a)
a['C']

{'A': 90, 'C': 70, 'B': 80}

70

In [0]:
#[2-5 문제5]
a = {'A':90, 'B':80, 'C':70}
print(min(a.values()))

70

In [0]:
#[2-5 문제6]
a = {'A':90, 'B':80, 'C':70}
a.items()

[('A', 90), ('C', 70), ('B', 80)]

In [0]:
#[2-6 문제1]
s1 = set(['a', 'b', 'c'])
s1

{'a', 'b', 'c'}

In [0]:
#[2-6 문제2]
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
s1 = set(a)
s1

{1, 2, 3, 4, 5}

In [0]:
#[2-6 문제3]
s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

s3 = s1-s2
s4 = s1.difference(s2)

s3==s4

True

In [0]:
#[2-6 문제4]
a = {'a', 'b', 'c'}
a - a

set()

In [0]:
#[2-6 문제5]
a = {'a', 'b', 'c'}
a.update(['d', 'e', 'f'])
a

{'a', 'b', 'c', 'd', 'e', 'f'}

In [0]:
#[2-7 문제1]
1 != 1                     # False
3 > 1                      # True
'a' in 'abc'               -----# False?!
'a' not in [1, 2, 3]       # True

True

In [0]:
#[2-7 문제2]
a = "python"
bool(a)

True

In [0]:
b = ""
bool(b)

False

In [0]:
c = (1,2,3)
bool(c)

True

In [0]:
d = 0
bool(d)

False

In [0]:
#[2-8 문제1]
a = [1, 2, 3]
b = [1, 2, 3]
a is b

#False / a와 b가 가르키는 객체가 서로 다름.

False

In [0]:
#[2-8 문제2]
a = [1, 2, 3]
b = a
a is b

# True / b=a라고 정의

True

In [0]:
#[2-8 문제3]
a = b = [1, 2, 3]
a[1] = 4
print(b)

# b는 a와 객체가 같다고 정의되었으므로 list a 가 변화하면 b도 a와 같이 변화한다.

[1, 4, 3]

In [0]:
#[2-8 문제4]
a = [1, 2, 3]
b = a[:]
a is b

# False / 객체도 다르고 리스트 값도 다르다.

In [0]:
#[2-8 문제5]
a = [1, 2, 3]
b = a[:]
a[1] = 4

print(b)
# [1, 2, 3]으로 출력된다. 리스트 값만 동일하게 b가 복사되었기 때문이다.

[1, 2, 3]

In [0]:
#[2-8 문제6]
#

In [0]:
#[2-8 문제7]

In [0]:
#[3-1 문제1]
money = 5000
card = False

if money>= 4000:
  print("택시이용가능")
elif card == True:
  print("택시이용가능")
else:
  print("택시이용불가")

택시이용가능

In [0]:
#[3-1 문제2]
lucky_list = [1, 9, 23, 46]

if 23 in lucky_list:
  print("야호!")

야호!

In [0]:
#[3-1 문제3]

# 2-1장 문제와 동일...

In [0]:
#[3-1 문제4]
dic = {'나이':30,'키':180}

if dic.values('나이') < 30 and dic.values('키')>= 175:
  print ("YES")
else:
  print ("NO")

TypeError: ignored

In [0]:
#[3-1 문제5]
# shirt

In [0]:
#[3-2 문제1]
sum = 0
num = 1
while num <= 100:
  sum += num
  num +=1
  
print (sum)

5050

In [0]:
#[3-2 문제2]
sum = 0
i = 1
while i <= 300:
  i +=1
  if i % 3 == 0:
    sum += i

print (sum)

15150

In [0]:
#[3-2 문제3]

A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

total = 0
for scr in A:
  if scr >= 50:
    total += scr

print (total)

481

In [0]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

total = 0
while scr >= 50 in A:
  total += scr

print (total) 

#while문 으로는?

0

In [0]:
#[3-2 문제4]

i = 0
while i <= 3:
    i += 1
    print ("*"*i)

*
**
***
****

In [0]:
#[3-2 문제5]

a = 7
b = 0
while a > 0:
  print(" "* b+ "*" * a)
  a -= 2
  b += 1

*******
 *****
  ***
   *

In [0]:
#[3-3 문제1]
i = 1
for i in range(1,101):
  print i

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [0]:
#[3-3 문제2]
i = 1
sum = 0
for i in range(1,1000):
  if i % 5 == 0:
    sum +=i

print (sum)

99500

In [0]:
#[3-3 문제3]
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0
for i in A:
  total += i

avr = total / len(A)
print (avr)

79

In [0]:
#[3-3 문제4]
a = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

A = B = O = AB = 0
for bt in a:
  if bt == 'A':
    A += 1
  elif bt == 'B':
    B += 1
  elif bt == 'O':
    O += 1
  else:
    AB +=1
    
print (A)
print (B)
print (O)
print (AB)

3
3
3
3

In [0]:
#[3-3 문제5]

numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers]
print (result)

[2, 4, 6, 8, 10]